<?xml version= "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yunlingfly.springbootpostgresql.infra.mapper.ITestMapper">
    <resultMap id="BaseResultMap" type="cn.yunlingfly.springbootpostgresql.domain.entity.TestEntity" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from test
    </select>
</mapper>